.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.answers{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: 10px auto;
}

.inputcontainer {
  padding: 3px;
  width: 200px;
  border: 1px solid black;
  border-radius: 22px;
  margin: 5px;
  cursor: pointer;
  display:inline-block
}

.inputcontainer:hover{
background: yellow;
color: red;
border: none;
}
.inputcontainer:focus{
  background: red;
}
/* input[type="checkbox"] {
  background-color: black;
}

input:checked + span {
  text-decoration: line-through;
} */

/* .myinput:checked + label  {
  background: #2196F3;
} */
input:checked + label {
  background-color: red;
}

.inputcontainer input {
  position: absolute;
  /* opacity: 0; */
} 


